# Reference: https://www.udemy.com/course/docker-and-kubernetes-the-complete-guide/learn/lecture/30298202#questions/16125718

name: Deploy Frontend

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}
      - run: docker build -t piperdream1341/docker-react -f Dockerfile.dev .
      - run: docker run -e CI=true piperdream1341/docker-react npm test

      - name: Generate deployment package
        run: zip -r deploy.zip . -x '*.git*'

      - name: Deploy to EB
        uses: einaregilsson/beanstalk-deploy@v20
        with:
          aws_access_key: ${{ secrets.AWS_ACCESS_KEY }}
          aws_secret_key: ${{ secrets.AWS_SECRET_KEY }}
          application_name: docker-react
          environment_name: Dockerreact-env
          existing_bucket_name: elasticbeanstalk-ap-northeast-1-983053819024
          region: ap-northeast-1
          version_label: ${{ github.sha }}
          deployment_package: deploy.zip
